*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containter{
    max-width: 1000px;
    margin: 0% auto;
    background-color:white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-weight: bold;
}
nav,a{
    text-decoration: none;
    color: black;
}
.hero{
   display: flex;
   justify-content: space-between; 
   align-items: center; 
   flex-wrap: wrap;
}
.hero-text{
   max-width: 500px;
}
.div,h1{
    font-size: 2em;
    columns: #1a1a1a2e;
    margin-bottom: 20px;
}
.div,p{
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}
.botton{
    background-color: #ff6b6b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.hero-image img{
    width:180px ;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #eaf6fb ;
}
.containter-2{
    max-width: 1200px;
    margin: 0 auto;
}
.header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.header-2 h2{
    font-size: 1.25rem;
    color: #2c2c2c;
}
.header-2 a{
    color: #00aaff;
    text-decoration: none;
    font-weight: 500;
}
.post{
    display: flex;
    gap: 1rem;
    flex-wrap:wrap ;
}
.post-card{
    background-color: white;
    border-radius: 6px;
    padding: 1.5rem;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 0 4px rgba(0,0,0, 0.04); 
}
.post-title{
    font-size: 1.125rem;
    font-weight:700 ;
    margin-bottom: 1rem;
    color: #1d1d1d;
}
.post-meta{
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
}
.post-meta span{
    margin: 0 0.5rem;
}
.post-content{
    font-size: 0.875rem;
    color: #444;
    line-height: 1.5;
}